<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nk.endnotecraftimport</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A2DEFFC-34BD-4736-9642-4A288B763E51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>384D0087-AC16-49CB-A968-971B210BF875</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BB74BDA-84C2-4B29-A179-0B51E7FA5E16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>852592AD-8DBB-4BFD-9935-9A49ECC918B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DBEE597-D7A9-4405-906A-672BFF96E832</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD2785CE-249D-425B-B092-CA285AB58A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>384D0087-AC16-49CB-A968-971B210BF875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4254F49-188F-4F89-B933-A8E135609E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66F5DED4-5DF9-456A-8E69-11FE7EB33AB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BB74BDA-84C2-4B29-A179-0B51E7FA5E16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>852592AD-8DBB-4BFD-9935-9A49ECC918B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DBEE597-D7A9-4405-906A-672BFF96E832</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD2DF15D-38AC-43CE-88A4-3E162E6527DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D04986B4-990C-4FA6-8567-D42F683535EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B8B761-D8D3-495A-8221-328623CCA0C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A2DEFFC-34BD-4736-9642-4A288B763E51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D04986B4-990C-4FA6-8567-D42F683535EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDD40322-CBBA-4A41-9386-27F94B210440</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4254F49-188F-4F89-B933-A8E135609E2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD2DF15D-38AC-43CE-88A4-3E162E6527DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD2785CE-249D-425B-B092-CA285AB58A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A2DEFFC-34BD-4736-9642-4A288B763E51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDD40322-CBBA-4A41-9386-27F94B210440</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B69D7FC-44D4-46C2-B1ED-581808C09A43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>59F97819-5933-416E-99EA-A5B136EB47E2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E93EE7B2-43F6-420D-A11B-293A7DA24D34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Kong</string>
	<key>description</key>
	<string>A Crafty method for referencing</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EndNote-Craft-Import</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>0 references imported. Please try again or review the workflow.</string>
				<key>title</key>
				<string>Import failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0B69D7FC-44D4-46C2-B1ED-581808C09A43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Craft.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>384D0087-AC16-49CB-A968-971B210BF875</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.ThomsonResearchSoft.EndNote</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>66F5DED4-5DF9-456A-8E69-11FE7EB33AB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>k</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0A2DEFFC-34BD-4736-9642-4A288B763E51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import os
import webbrowser
import time


query = sys.argv[1]
unformatted_orig = os.getenv('unformatted_orig')
formatted_orig = os.getenv('formatted_orig')
Space_ID = os.getenv('Space_ID')
Folder_ID = os.getenv('Folder_ID')
open_url_delay = float(os.getenv('open_url_delay'))
Temporary_Citation_Delimiter_1 = os.getenv('Temporary_Citation_Delimiter_1')
Temporary_Citation_Delimiter_2 = os.getenv('Temporary_Citation_Delimiter_2')

#unformattededits
unformatted1=unformatted_orig.replace(Temporary_Citation_Delimiter_1,"")
unformatted2=unformatted1.replace(Temporary_Citation_Delimiter_2,"")
unformatted3=unformatted2.replace("%","%23")

#formattededits
formatted1=formatted_orig.replace("%","%25")

unformatted4=unformatted3.split(";")

unformatted5=""
i=0
while i&lt;len(unformatted4):
	if 'discussion' not in unformatted4[i]:
		unformatted5 = unformatted5 + unformatted4[i] 
		unformatted5 = unformatted5 + ';'
	i = i + 1

unformatted5 = unformatted5[:-1]


unformatted=unformatted5.split(";")
formatted=formatted1.splitlines()
i=0

#URLopening
while i&lt;len(unformatted):
	url = 'craftdocs://createdocument?spaceId={}&amp;title={}&amp;content={}&amp;folderId={}'.format(Space_ID,unformatted[i],formatted[i],Folder_ID)
	webbrowser.open(url, new=0, autoraise=True)
	i = i + 1
	time.sleep(open_url_delay)

sys.stdout.write(str(i))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D04986B4-990C-4FA6-8567-D42F683535EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>59F97819-5933-416E-99EA-A5B136EB47E2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FDD40322-CBBA-4A41-9386-27F94B210440</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>format_copy_delay</key>
					<string>0.2</string>
					<key>open_url_delay</key>
					<string>0.6</string>
					<key>unformat_copy_delay</key>
					<string>0.1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>852592AD-8DBB-4BFD-9935-9A49ECC918B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>formatted_orig</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD2DF15D-38AC-43CE-88A4-3E162E6527DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:unformat_copy_delay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2DBEE597-D7A9-4405-906A-672BFF96E832</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:format_copy_delay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>D4254F49-188F-4F89-B933-A8E135609E2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>Folder_ID</key>
					<string></string>
					<key>Space_ID</key>
					<string></string>
					<key>Temporary_Citation_Delimiter_1</key>
					<string>{</string>
					<key>Temporary_Citation_Delimiter_2</key>
					<string>}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2BB74BDA-84C2-4B29-A179-0B51E7FA5E16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>unformatted_orig</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FD2785CE-249D-425B-B092-CA285AB58A03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Number of reference(s) imported: {query}</string>
				<key>title</key>
				<string>Import complete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E93EE7B2-43F6-420D-A11B-293A7DA24D34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly remote_info_plist="https://github.com/nanobot20/endnote-craft-workflow/raw/main/info.plist"
readonly workflow_url="https://github.com/nanobot20/endnote-craft-workflow/raw/main/EndNote-Craft-Import.alfredworkflow"
readonly workflow_type='direct'
readonly frequency_check='4'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED UNLESS YOU KNOW WHAT YOU ARE DOING
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/MacOS/applet" "${1}" "${alfred_workflow_name}" 'A new version is availale'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${workflow_type}" =~ ^(workflow|page)$ ]] || abort "'workflow_type' (${workflow_type}) needs to be one of 'workflow' or 'page'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" != "${remote_version}" ]]; then
    if [[ "${workflow_type}" == 'page' ]]; then
      notification 'Opening download page…'
      open "${workflow_url}"
    else
      if url_exists "${workflow_url}"; then
        notification 'Downloading and installing…'
        curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${workflow_url}"
        open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
      else
        abort "'workflow_url' (${workflow_url}) appears to not be reachable."
      fi # url_exists
    fi # workflow_type
  else
    touch "${local_info_plist}" # Reset timer by touching local file
  fi # diff
fi #find</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2B8B761-D8D3-495A-8221-328623CCA0C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Hey everyone! Welcome to my very first workflow. I hope it helps the writing experience and am open to any suggestions for improvement.

Import your EndNote citations into Craft for markdown-esque referencing which can be easily and properly formatted with EndNote’s Cite While You Write in Microsoft Word. Users of Obsidian and other back-linking software with URL schemes could modify this to benefit them too (See “Usage” for more information.)

# Install


Download the Alfred Workflow file and input your Space ID (required) and Folder ID (optional). Found within the Craft deeplink and Web Editor URL.

Assign non-global hotkey to trigger the workflow.

In EndNote, confirm the following settings or change in Alfred or EndNote accordingly. 


- Cmd+K = Edit-&gt;Copy Formatted. 
- Temporary citation delimiter (in EndNote Preferences-&gt;Temporary Citations) matches the workflow settings (default { } )
- Recommended (optional): Set EndNote Preferences-&gt;Use field instead of record number-&gt;Pages. The default is record number which will work but may not age well if you change your EndNote library in the future.
- Citation format: This workflow will import your selected referencing style as content. I’ve uploaded a referencing style (modified version of Chicago 17th Footnote) which includes the author names, titles, doi link, abstract, and other details if available and helps me keeping track of all my notes.

Software:


- EndNote
- Craft
- Word (for export)

# Usage


## Import

1. Select references (as many as desired.) Recommended to Find Reference Updates prior to next step.
2. Trigger hotkey
3. Sit back as citations are imported. Temporary/unformatted citations and formatted citations are copied to clipboard (clipboard manager is not required as variables are passed immediately.)  Documents are created for each reference with the temporary/unformatted citation as the title and formatted citation as the body by using the Craft URL scheme “[craftdocs://createdocument?spaceId=&amp;title=&amp;content=&amp;folderId=](craftdocs://createdocument?spaceId=&amp;title=&amp;content=&amp;folderId=)“.

## Markdown Citations


Use the reference format {ref} or {ref1;ref2;ref3;…;refx} where { } are your temporary citation delimiters:


1. Type {@
2. Reference away

## EndNote Cite While You Write

1. Export to Word
2. Select all text (Cmd+A)
3. Remove hyperlinks (Cmd+Shift+F9)
4. Turn on instant formatting in the EndNote Cite While You Write ribbon

Viola! A Crafty method for citations.</string>
	<key>uidata</key>
	<dict>
		<key>0A2DEFFC-34BD-4736-9642-4A288B763E51</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>MUST MATCH keyboard shortcut for Edit-&gt;Copy Formatted in EndNote</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>0B69D7FC-44D4-46C2-B1ED-581808C09A43</key>
		<dict>
			<key>xpos</key>
			<integer>1360</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>2BB74BDA-84C2-4B29-A179-0B51E7FA5E16</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>USER INPUT REQUIRED:

- Space ID (from Craft deeplink)
- Temporary citation delimiters (from EndNote settings. Default is { } )

Optional:
- Folder ID (leave blank if not required) (found in Craft Web Editor URL)

*Tip: EndNote Preferences-&gt;Temporary Citations-&gt;"Use Field instead of Record Number"-&gt;Pages in EndNote for longevity</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>2DBEE597-D7A9-4405-906A-672BFF96E832</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>384D0087-AC16-49CB-A968-971B210BF875</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>66F5DED4-5DF9-456A-8E69-11FE7EB33AB4</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>852592AD-8DBB-4BFD-9935-9A49ECC918B3</key>
		<dict>
			<key>note</key>
			<string>Option to edit delay times here. Shorter times may result in failure.</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>AD2DF15D-38AC-43CE-88A4-3E162E6527DB</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C2B8B761-D8D3-495A-8221-328623CCA0C0</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>D04986B4-990C-4FA6-8567-D42F683535EF</key>
		<dict>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D4254F49-188F-4F89-B933-A8E135609E2A</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E93EE7B2-43F6-420D-A11B-293A7DA24D34</key>
		<dict>
			<key>xpos</key>
			<integer>1355</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FD2785CE-249D-425B-B092-CA285AB58A03</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>FDD40322-CBBA-4A41-9386-27F94B210440</key>
		<dict>
			<key>xpos</key>
			<integer>1235</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
